{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-body">
    <div class="warper container-fluid">
        <div class="doctorino_settings main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                </div>
            </div>
            {% if messages %} {% for message in messages%}
            <div class="mt-3 alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
              <strong></strong> {{message}}
              {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> {% endcomment %}
            </div>
            {% endfor %} {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <h4 class="card-title"> Appointment By <a href="{% url 'Management_system:patient-settings' appointment.patient.id  %}">{{appointment.patient}}</a> </h4>
                            <div class="float-right">
                                <!-- Button trigger modal -->
                               <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                    Create Invoice For this Appointment
                                </button>
                                
                                <!-- Modal -->
                               
                                <form method="POST" class="mx-1">
                                    {% csrf_token %}
                                    {% if appointment.status == "Pending" %}
                                    <input type="submit" name="start_appointment" class="btn btn-primary" value="Start Appointment">
                                    {% elif appointment.status == "In Progress" %}
                                    <input type="submit" name="deliver_appointment" class="btn btn-primary" value="Deliver Appointment">
                                    {% endif %}
                                </form>
                               </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Create Invoice</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                    {{invoice_form|crispy}}
                                    
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" name="create_invoice" class="btn btn-primary" value="Create Invoice" />
                                </form>
                                </div>
                                </div>
                                </div>
                            </div>
                            <p>   <strong>Appointment Status : </strong>{{appointment.status}}</p>
                            <p><strong>Paid Status :</strong> {% if appointment.paid %}Paid {% else %}Not Paid Yet{% endif %}</p>
                            {% if appointment.paid %}
                            <p><strong>Paid Receipt : </strong>
                           <a target="blank" href=" {{appointment.receipt_url}}"> {{appointment.receipt_url}}</a>
                            </p>
                           {% endif %}
                            <form method="POST" >
                               {% csrf_token %}
                                <div class="row">
                                   <form method="post">
                                    <div class="col-xl-6">
                                       
                                        <div id="form_date" data-doctorid="{{doctor.id}}" data-url="{% url 'Management_system:weekday_time_info' %}" class="form-group row">
                                     
                                            {{app_form.appointment_date|as_crispy_field}}

                                            {% comment %} <input type="text" class="form-control" value="{{appointment.appointment_date }}"> {% endcomment %}
                                            
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                         
                                            {{app_form.description|as_crispy_field}}

                                           {% comment %} <input type="text" class="form-control mx-2" value="{{appointment.description }}"/> {% endcomment %}
                                        </div>
                                    </div>
                                   
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                     
                                            {{app_form.appointment_time|as_crispy_field}}
                                            {% comment %} <input type="text" class="form-control" value="{{appointment.appointment_time }}"/> {% endcomment %}

                                           
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                      
                                       
                                            {{app_form.appointment_time_end|as_crispy_field}}
                                            {% comment %} <input type="text" class="form-control mx-2" value="{{appointment.appointment_time_end }}"/> {% endcomment %}
 
                                        </div>
                                    </div>
                                    <input class="btn btn-secondary mt-3 w-auto float-right" type="submit" value="Update Appointment" name="update_app">

                                </form>
                                    <hr>
                                    <a href="{% url 'doctor:user_history' appointment.patient.id%}" class="mt-3 btn btn-primary w-auto">
                                        Patient's Medical History
                                    </a>
                                    {% comment %} <h5>See Patient's Medical History</h5> {% endcomment %}
                                    <hr>
                                    {% if appointment.status != "Pending" %}
                                    <h5 >Add Report </h5>

                                    <div class="m-3">
                                        <form action="" method="post">
                                            {% csrf_token %}    
                                            {{form|crispy}}
                                            <input type="submit" name="create_report" class="btn btn-primary" value="Create Report">
                                        </form>
                                    </div>
                                    {% endif %}

                                    

                                
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End section content -->

{% endblock %}  
{% block js %}
<style>
    .btn-primary{
        background:#7366FF !important;
        border:0 !important;
    }
    .form-control{
        padding:29px !important;
        margin-right: 10px !important;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock js %}