{% extends 'index.html' %}
{% load static %}
{% block content %}
        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="new_appointment main_container">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary"> Billing List</h4>
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active"><a href="/new-appointment.html">New Appointment</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example3" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Patient</th>
                                                    <th>Price</th>
                                                    <th>Payment Mode</th>
                                                    <th>Date Created</th>
                                                    <th>Payment Status</th>
                                                   
                                               
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for li in invoices %}
                                                <tr>
                                                    <td> {{li.title}} </td>
                                                    <td> {{li.patient}} </td>
                                                    <td> Rs {{li.price}}</td>
                                                    <td> {{li.payment_mode}}</td>
                                                    <td> {{li.date_created}}</td>
                                                    <td class="text-start">
                                                        <span class="badge badge-primary">{{li.payment_stats}}</span>
                                                    </td>
                                                 
                                                   
                                                   
                                                    <td>
                                                        <a href="{% url 'doctor:invoice_detail' li.id %}" class='edit' >
                                                            <span class='fas fa-eye'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     

{% endblock %}